<mat-toolbar>
  <img src="http://localhost:4200/lint-e.png" width="50px" />
  <span class="title">Lint-E</span>
  <div class="float-right row">
      <button mat-raised-button (click)="openApiKeyDialog()">
        <mat-icon fontIcon="key"></mat-icon>
        Add API Key
      </button>
      <button mat-raised-button (click)="removeApiKey()">
        <mat-icon fontIcon="key_off"></mat-icon>
        Remove API Key
      </button>
      <button mat-flat-button (click)="export()">
        Export Rule
      </button>
  </div>
</mat-toolbar>

<app-split-view>
  <div left-container class="left-container">
    <form [formGroup]="creatorForm" ngxsForm="rule_creator.creatorForm">
      <div class="row">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
          <mat-error
            *ngIf="creatorForm.get('description')?.hasError('required')"
            >Description is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Failure Example</mat-label>
          <textarea matInput formControlName="failureExample"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Framework</mat-label>
          <mat-select formControlName="framework">
            <mat-option
              *ngFor="
                let framework of [
                  frameworks.ANGULAR,
                  frameworks.REACT,
                  frameworks.VUE,
                  frameworks.NONE
                ]
              "
              [value]="framework"
            >
              {{ framework }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="creatorForm.get('framework')?.hasError('required')"
            >Framework is required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option
              *ngFor="
                let category of [
                  categories.ANGULAR,
                  categories.BEST_PRACTICES,
                  categories.POSSIBLE_ERRORS,
                  categories.SECURITY,
                  categories.PERFORMANCE,
                  categories.DEPRECATED_LEGACY,
                  categories.TYPESCRIPT,
                  categories.TEST_RELATED,
                  categories.CODE_QUALITY,
                  categories.STYLISTIC_ISSUES,
                  categories.REACT
                ]
              "
              [value]="category"
            >
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="
                let type of [
                  ruleTypes.PROBLEM,
                  ruleTypes.SUGGESTION,
                  ruleTypes.LAYOUT
                ]
              "
              [value]="type"
            >
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="fixable"
          ><span class="checkbox-label">Fixable</span></mat-checkbox
        >
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="buildTool">
            <mat-option
              *ngFor="
                let type of [
                  buildTool.NONE,
                  buildTool.NX,
                  buildTool.TURBOREPO
                ]
              "
              [value]="type"
            >
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="esLintVersion">
            <mat-option
              *ngFor="
                let type of [
                  esLintVersion.V_8,
                  esLintVersion.V_9,
                ]
              "
              [value]="type"
            >
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Filetype</mat-label>
          <mat-select formControlName="fileTypes" multiple>
            <mat-option
              *ngFor="
                let type of [
                  fileType.JS,
                  fileType.TS,
                  fileType.JSX,
                  fileType.TSX,
                  fileType.HTML,
                ]
              "
              [value]="type"
            >
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>
    <button mat-flat-button class="float-right" (click)="create()">
      Create Rule
    </button>
    <div class="ressources-container row">
      <span
        >Here you find more information on core rules and how to set up linting in
        your project: <a [href]="ressources()" target="_blank">{{ ressources() }}</a></span
      >
    </div>
    <div class="ressources-container row" *ngIf="ressourcesBuildTool()">
      <span
      >Here you find more information on how to set up EsLint with your build tool: <a [href]="ressourcesBuildTool()" target="_blank">{{ ressourcesBuildTool() }}</a></span
      >
    </div>
  </div>
  <div right-container class="right-container">
    <form [formGroup]="ruleForm" ngxsForm="rule_creator.ruleForm">
      <mat-button-toggle-group name="moduleSystem" aria-label="Module System">
        <mat-button-toggle
          [value]="moduleSystem.ES_MODULES"
          (click)="selectedModuleSystem = moduleSystem.ES_MODULES"
        >{{ moduleSystem.ES_MODULES }}</mat-button-toggle>
        <mat-button-toggle [value]="moduleSystem.COMMON_JS" (click)="selectedModuleSystem = moduleSystem.COMMON_JS">{{ moduleSystem.COMMON_JS }}</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="row">
        <h3>Rule</h3>
        <button mat-icon-button class="float-right" (click)="copyRule()">
          <mat-icon fontIcon="content_copy"></mat-icon>
        </button>
      </div>
      <app-codemirror-editor
        [extensions]="ruleEditorConfig"
        formControlName="ruleEsModules"
        [ngClass]="{ hidden: (selectedModuleSystem === moduleSystem.COMMON_JS) }"
      >
      </app-codemirror-editor>
      <app-codemirror-editor
        [extensions]="ruleEditorConfig"
        formControlName="ruleCommonJs"
        [ngClass]="{ hidden: (selectedModuleSystem === moduleSystem.ES_MODULES) }"
      >
      </app-codemirror-editor>
      <div class="row margin-top">
        <h3>Code example to lint</h3>
        <div class="float-right row">
          <span
            *ngIf="lintResultStatus()"
            [ngClass]="{ passed: lintPassed(), failed: !lintPassed() }"
          >
            {{
              lintResultStatus() +
                ' at ' +
                ((lintResultDateTime() ?? '') | date : 'shortTime')
            }}
          </span>
          <button mat-flat-button (click)="lintRule()">Lint Code</button>
        </div>
      </div>
      <div *ngFor="let message of lintResultMessages()">
          <div class="lint-message-container">In line {{ message.line }} we found
          a broken rule with severity {{ message.severity }} on node type {{ message.nodeType }}. {{ message.message }}</div>
      </div>
      <app-codemirror-editor
        [extensions]="ruleEditorConfig"
        formControlName="badExampleCode"
      >
      </app-codemirror-editor>
    </form>
  </div>
</app-split-view>
